@import url('https://fonts.cdnfonts.com/css/satoshi');

:root {
  --black-color : #0A0F0D;
  --main-bg-color: #FEFEF9;
  --light-black: #636862;
  --bg-green: #EBFFDB;
  --bg-blue: #D5E9F8;
  --bg-purple: #C5B6F0;
  --bg-yellow: #FFFBA0;
  --bg-skin: #FEF4DB;
}


*{
  margin: 0;
  padding: 0;
  font-family: 'Satoshi', sans-serif;
}

h1{
  color: #0A0F0D;
  font-size: 64px;
  font-weight: medium;
  line-height: 64;
}

p{
  color: rgba(10, 15, 13, 0.8);
  font-size: 18px;
  font-weight: normal;
  line-height: 28;
}

.button-text{
  color: #0A0F0D;
  font-weight: medium;
  font-size: 20px;
  text-transform: uppercase;
  line-height: 20;
  border-bottom: 2px solid #0A0F0D;
}

.section-heading{
  color: #0A0F0D;
  font-weight: medium;
  font-size: 54px;
  line-height: 54;
}

.card-heading{
  color: #0A0F0D;
  font-weight: medium;
  font-size: 34px;
  line-height: 38;
}